<div style="padding: 5%;">
  <h1>Farum Bokseklub</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Navbar">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Expand at md</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Forside</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="om-klubben">Om Klubben</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="træningstider">Træningstider</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bliv-medlem">Bliv Medlem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="parkinson-boksning">Parkinson Boksning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sponsorere-partnere">Sponsorere / Partnere</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Arkiver</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="dokumenter">Dokumenter</a></li>
            <li><a class="dropdown-item" href="galleri">Galleri</a></li>
            <li><a class="dropdown-item" href="opslag">Opslag</a></li>
            <li><a class="dropdown-item" href="resultater">Resultater</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sponsorere-partnere">Kontakt</a>
        </li>
      </ul>
      <a href="log-ind"><button class="btn btn-primary">Log Ind</button></a>
    </div>
  </div>
</nav>